S3method(as.data.frame, setx)
export(as.matrix.setx)
export(as.qi.default)
export(as.qi.qi)
export(as.qi.list)
export(print.qi)
export(names.qi)
export(as.summarized.list)
export(as.summarized)
export(as.summarized.summarized.qi)
export(cmvglm)
S3method(describe, default)
export(describe.default)
export(describe.gamma)
S3method(describe, logit)
export(describe.logit)
S3method(describe, ls)
export(describe.ls)
S3method(describe, negbinom)
export(describe.negbinom)
S3method(describe, normal)
export(describe.normal)
S3method(describe, poisson)
export(describe.poisson)
export(describe.probit)
export(describe)
export(describe.zelig)
export(description)
export(cite)
export(as.description)
export(as.description.description)
export(as.description.list)
export(GetObject)
export(GetSlot)
export(GetSlot.zelig)
export(help.zelig)
export(ignore)
S3method(labels, mi)
export(make.parameters)
export(mi)
export(make.mi)
export(NextLabel)
export(NextFrame)
export(Reset)
export(retrieve.factors)
S3method(length, mi)
export(reduceMI)
export(structuralToReduced)
export(tolmerFormat)
export(.reduceFurther)
export(.getRandAndFixedTerms)
S3method(param, gamma)
export(param.gamma)
S3method(param, logit)
export(param.logit)
S3method(param, ls)
S3method(param, negbinom)
export(param.negbinom)
export(param.normal)
export(param.poisson)
export(param.probit)
export(param)
S3method(param, default)
export(param.default)
export(parameters)
export(alpha)
S3method(coef, parameters)
export(coef.parameters)
export(simulations.parameters)
export(link)
export(linkinv)
export(parse.formula)
export(plot.MI.sim)
S3method(plot, sim)
export(plot.sim)
S3method(print, setx.mi)
S3method(print, setx)
export(print.setx)
S3method(print, sim)
export(print.sim)
S3method(print, summary.sim)
export(print.summary.sim)
S3method(print, summarySim.MI)
export(print.summarySim.MI)
S3method(print, zelig)
export(print.zelig)
S3method(qi, gamma)
S3method(qi, logit)
S3method(qi, ls)
S3method(qi, negbinom)
S3method(qi, normal)
S3method(qi, poisson)
S3method(qi, probit)
export(qi)
S3method(print, qi.summarized)
S3method(register, default)
export(register.default)
export(repl.default)
export(repl)
export(repl.sim)
S3method(setx, default)
export(setx.default)
S3method(setx, MI)
export(setx)
export(sim.default)
S3method(sim, MI)
export(sim)
S3method(summarize, default)
export(summarize)
S3method(summary, MI)
export(summary.MI)
S3method(summary, MI.sim)
export(summary.MI.sim)
S3method(summary, sim)
export(summary.sim)
S3method(summary, zelig)
export(summary.zelig)
S3method(t, setx)
export(t.setx)
S3method(terms, multiple)
S3method(terms, vglm)
S3method(terms, zelig)
export(user.prompt)
export(zelig)
export(zelig.skeleton)
export(zelig2gamma)
export(zelig2logit)
export(zelig2ls)
export(zelig2negbinom)
export(zelig2normal)
export(zelig2poisson)
export(zelig2probit)
export(ZeligListModels)
export(ZeligDescribeModel)
export(TexCite)
export(.ZeligModelCategories)
export(ZeligListTitles)
export(has.zelig2)
export(depends.on.zelig)
export(eval.in)
S3method("[[", zelig)
S3method("[[", qi)
export(rocplot)
export(zelig.call)
export(Mode)
export(Median)
export(Max)
export(Min)
export(combine)
export(splitUp)
