export(as.matrix.setx)
export(as.parameters)
export(as.parameters.list)
export(as.parameters.parameters)
export(as.parameters.default)
export(as.qi)
export(as.qi.default)
export(as.qi.qi)
export(as.qi.list)
export(print.qi)
export(as.summarized.list)
export(as.summarized)
export(as.summarized.summarized.qi)
export(cmvglm)
export(describe.default)
export(describe.gamma)
export(describe.logit)
export(describe.ls)
export(describe.negbinom)
export(describe.normal)
export(describe.poisson)
export(describe.probit)
export(describe)
export(describe.zelig)
export(description)
export(cite)
export(as.description)
export(as.description.description)
export(as.description.list)
export(GetObject)
export(GetSlot)
export("[[.MI")
export(GetSlot.zelig)
export(help.zelig)
export(ignore)
export(make.parameters)
export(mi)
export(mi.default)
export(mi.mi)
export(mi.list)
export(nextElem.mi)
export(reset.mi)
export(get.mi.labels)
export(length.mi)
export(reduceMI)
export(tolmerFormat)
export(.getRandAndFixedTerms)
S3method(param, gamma)
export(param.gamma)
S3method(param, logit)
export(param.logit)
S3method(param, ls)
export(param.ls)
S3method(param, MI)
export(param.MI)
S3method(param, negbinom)
export(param.negbinom)
S3method(param, normal)
export(param.normal)
S3method(param, poisson)
export(param.poisson)
S3method(param, probit)
export(param.probit)
export(param)
S3method(param, default)
export(param.default)
export(parameters)
export(alpha)
S3method(coef, parameters)
export(coef.parameters)
export(link)
export(linkinv)
export(parse.formula)
export(plot.MI.sim)
S3method(plot, sim)
export(plot.sim)
S3method(print, setx.mi)
export(print.setx.mi)
S3method(print, setx)
export(print.setx)
S3method(print, sim)
export(print.sim)
S3method(print, summary.MI.sim)
export(print.summary.MI.sim)
S3method(print, summary.sim)
export(print.summary.sim)
S3method(print, zelig)
export(print.zelig)
export(qi.gamma)
export(qi.logit)
export(qi.ls)
export(qi.MI)
export(qi.negbinom)
export(qi.normal)
export(qi.poisson)
export(qi.probit)
export(qi)
S3method(register, default)
export(register.default)
export(register)
export(repl.default)
export(repl)
export(repl.sim)
S3method(setx, default)
export(setx.default)
export(setx.MI)
export(setx)
export(sim.default)
S3method(sim, MI)
export(sim.MI)
export(sim)
S3method(summarize, default)
export(summarize.default)
S3method(iter, summarized.qi)
S3method(iter, qi)
export(summarize.MI)
S3method(summarize, MI.sim)
export(summarize.MI.sim)
export(summarize)
S3method(summary, MI.sim)
export(summary.MI.sim)
export(summary.sim)
S3method(summary, zelig)
export(summary.zelig)
S3method(summary, zelig.MI)
export(summary.zelig.MI)
S3method(t, setx)
export(t.setx)
S3method(terms, multiple)
export(zelig.call)
export(zelig)
export(zelig.skeleton)
export(zelig2gamma)
export(zelig2logit)
export(zelig2ls)
export(zelig2negbinom)
export(zelig2normal)
export(zelig2poisson)
export(zelig2probit)
export(.run)
export(eval.in)
export(.)
export(rocplot)
export(literal)
