export(.getRandAndFixedTerms)
export(.reduceFurther)
export(.ZeligModelCategories)
export(alpha)
export(as.description)
export(as.qi.default)
export(as.qi.list)
export(as.qi.qi)
export(as.summarized.list)
export(as.summarized.summarized.qi)
export(as.summarized)
export(bootstrap)
export(cite)
export(cmvglm)
export(coef.parameters)
export(combine)
export(depends.on.zelig)
export(describe.default)
export(describe.gamma)
export(describe.logit)
export(describe.ls)
export(describe.negbinom)
export(describe.normal)
export(describe.poisson)
export(describe.probit)
export(describe)
export(description)
export(GetObject)
export(getPredictorTerms)
export(getResponseTerms)
export(GetSlot.zelig)
export(GetSlot)
export(has.zelig2)
export(help.zelig)
export(ignore)
export(link)
export(linkinv)
export(loadDependencies)
export(make.parameters)
export(Max)
export(MCMChook)
export(McmcHookFactor)
export(Median)
export(mi)
export(Min)
export(mix)
export(Mode)
export(param.default)
export(param)
export(parameters)
export(parse.formula)
export(parseFormula)
export(plot.ci)
export(print.setx)
export(print.zelig)
export(qi)
export(reduceMI)
export(relogit)
export(repl)
export(robust.glm.hook)
export(robust.gee.hook)
export(rocplot)
export(setx)
export(sim)
export(simulation.matrix)
export(simulations.parameters)
export(splitUp)
export(structuralToReduced)
export(summarize)
export(summary.MI.sim)
export(summary.sim)
export(summary.zelig)
export(termsFromFormula)
export(TexCite)
export(tolmerFormat)
export(user.prompt)
export(z)
export(zelig.call)
export(zelig.skeleton)
export(zelig)
export(zelig2exp)
export(zelig2factor.bayes)
export(zelig2gamma.gee)
export(zelig2gamma.survey)
export(zelig2gamma)
export(zelig2logit.bayes)
export(zelig2logit.gee)
export(zelig2logit.survey)
export(zelig2logit)
export(zelig2lognorm)
export(zelig2ls)
export(zelig2mlogit.bayes)
export(zelig2negbinom)
export(zelig2normal.bayes)
export(zelig2normal.gee)
export(zelig2normal.survey)
export(zelig2normal)
export(zelig2oprobit.bayes)
export(zelig2poisson.bayes)
export(zelig2poisson.gee)
export(zelig2poisson.survey)
export(zelig2poisson)
export(zelig2probit.bayes)
export(zelig2probit.gee)
export(zelig2probit.survey)
export(zelig2probit)
export(zelig2relogit)
export(zelig2tobit)
export(zelig2twosls)
export(ZeligDescribeModel)
export(ZeligListModels)
export(ZeligListTitles)
export(zeligBuildWeights)
S3method("[[",qi)
S3method("[[",zelig)
S3method(as.data.frame,setx)
S3method(as.description,description)
S3method(as.description,list)
S3method(as.matrix,pooled.setx)
S3method(as.matrix,setx)
S3method(bootstrap,default)
S3method(bootstrap,gamma)
S3method(bootstrap,negbinom)
S3method(bootstrap,normal)
S3method(coef,parameters)
S3method(coef,zelig)
S3method(describe,default)
S3method(describe,exp)
S3method(describe,factor.bayes)
S3method(describe,gamma.gee)
S3method(describe,gamma.survey)
S3method(describe,logit.bayes)
S3method(describe,logit.gee)
S3method(describe,logit.survey)
S3method(describe,logit)
S3method(describe,lognorm)
S3method(describe,ls)
S3method(describe,mlogit.bayes)
S3method(describe,negbinom)
S3method(describe,normal.bayes)
S3method(describe,normal.gee)
S3method(describe,normal.survey)
S3method(describe,normal)
S3method(describe,oprobit.bayes)
S3method(describe,poisson.bayes)
S3method(describe,poisson.gee)
S3method(describe,poisson.survey)
S3method(describe,poisson)
S3method(describe,probit.bayes)
S3method(describe,probit.gee)
S3method(describe,probit.survey)
S3method(describe,relogit)
S3method(describe,tobit)
S3method(describe,twosls)
S3method(describe,zelig)
S3method(getResponseTerms,formula)
S3method(getResponseTerms,Formula)
S3method(getResponseTerms,list)
S3method(logLik,zelig)
S3method(model.frame,multiple)
S3method(model.matrix,multiple)
S3method(model.matrix,parseFormula)
S3method(names,qi)
S3method(param,default)
S3method(param,exp)
S3method(param,factor.bayes)
S3method(param,gamma.gee)
S3method(param,gamma.survey)
S3method(param,gamma)
S3method(param,logit.bayes)
S3method(param,logit.gee)
S3method(param,logit.survey)
S3method(param,logit)
S3method(param,lognorm)
S3method(param,ls)
S3method(param,mlogit.bayes)
S3method(param,negbinom)
S3method(param,normal.bayes)
S3method(param,normal.gee)
S3method(param,normal.survey)
S3method(param,oprobit.bayes)
S3method(param,poisson.bayes)
S3method(param,poisson.gee)
S3method(param,poisson.survey)
S3method(param,probit.bayes)
S3method(param,probit.gee)
S3method(param,probit.survey)
S3method(param,relogit)
S3method(param,relogit2)
S3method(param,tobit)
S3method(param,twosls)
S3method(parseFormula,formula)
S3method(parseFormula,Formula)
S3method(parseFormula,list)
S3method(plot,MI.sim)
S3method(plot,pooled.sim)
S3method(plot,sim.cloglog.net)
S3method(plot,sim.gamma.gee)
S3method(plot,sim.logit.gee)
S3method(plot,sim.normal.gee)
S3method(plot,sim.poisson.gee)
S3method(plot,sim.probit.gee)
S3method(plot,sim.twosls)
S3method(plot,sim)
S3method(plot,zelig)
S3method(print,qi.summarized)
S3method(print,qi)
S3method(print,setx.mi)
S3method(print,setx)
S3method(print,sim)
S3method(print,summary.MCMCZelig)
S3method(print,summary.pooled.sim)
S3method(print,summary.relogit)
S3method(print,summary.relogit2)
S3method(print,summary.setx)
S3method(print,summary.sim)
S3method(print,summary.MCMCZelig)
S3method(print,summaryMI)
S3method(print,summarySim.MI)
S3method(print,zelig)
S3method(qi,exp)
S3method(qi,gamma.gee)
S3method(qi,gamma.survey)
S3method(qi,gamma)
S3method(qi,logit.bayes)
S3method(qi,logit.gee)
S3method(qi,logit.survey)
S3method(qi,logit)
S3method(qi,lognorm)
S3method(qi,ls)
S3method(qi,mlogit.bayes)
S3method(qi,negbinom)
S3method(qi,normal.bayes)
S3method(qi,normal.gee)
S3method(qi,normal.survey)
S3method(qi,normal)
S3method(qi,oprobit.bayes)
S3method(qi,poisson.gee)
S3method(qi,poisson.survey)
S3method(qi,poisson)
S3method(qi,probit.bayes)
S3method(qi,probit.gee)
S3method(qi,probit.survey)
S3method(qi,probit)
S3method(qi,relogit)
S3method(qi,relogit2)
S3method(qi,tobit)
S3method(qi,twosls)
S3method(repl,default)
S3method(repl,sim)
S3method(setx,default)
S3method(setx,MI)
S3method(sim,default)
S3method(sim,MI)
S3method(simulation.matrix,pooled.sim)
S3method(simulation.matrix,sim)
S3method(summarize,default)
S3method(summary,glm.robust)
S3method(summary,MCMCZelig)
S3method(summary,MI.sim)
S3method(summary,MI)
S3method(summary,pooled.sim)
S3method(summary,Relogit)
S3method(summary,Relogit2)
S3method(summary,setx)
S3method(summary,sim)
S3method(summary,zelig)
S3method(t,setx)
S3method(terms,multiple)
S3method(terms,vglm)
S3method(terms,zelig)
S3method(vcov,gee.naive)
S3method(vcov,gee.robust)
S3method(vcov,glm.robust)
S3method(vcov,Relogit)
S3method(vcov,zelig)
